# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `cargo test`
*.test

# Rust/Cargo specific files
/target
**/*.rs.bk

# IDE and editor specific files
/.idea
/.vscode
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
Thumbs.db
